/***********************************************************************   DEBUT PARTIE CSS   ********************************************************************/
html {
    background-color: #E8E8E8;
    font-family: 'Nunito', sans-serif;
    color: #333333;
}

/*************************************************************************************************************************************************************************/

#logo {
    position: relative;
    margin-top: -85px;
    width: 230px;
    height: 230px;
}

/*************************************************************************************************************************************************************************/

#menu {
    position: absolute;
    top: -5px;
    left: 155px;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    padding: 14px 40px;
    margin: 2px;
    font-size: 95%;
    font-weight: 1000;
    text-decoration: none;
    background-color: #333333;
    color: #FFD700;
    border-radius: 5px; /* Ajout d'arrondis pour un aspect plus moderne */
}

#menu a:hover {
    background-color: #FFD700;
    color: #333333;
}

/*************************************************************************************************************************************************************************/

#nav-research {
    position: absolute;
    top: 8px;
    right: 10px;
}

#search-input {
    padding: 15px 1px;
    border: 1px solid #FFD700; /* Ajout d'une bordure pour un meilleur contraste */
    border-radius: 5px; /* Ajout d'arrondis */
}

#search-icon {
    padding: 12px 4px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #FFD700; /* Couleur de l'icône de recherche */
}

/*************************************************************************************************************************************************************************/

.contact h1 {
    position: relative;
    top: 20px;
    left:   430px;
}

.contact {
    position: relative;
    top: -50px;
    width: auto;
    height: 800px;
    margin: 0 auto; 
    border: 6px solid black;
    padding: 20px; 
    background-color: #E8E8E8;
}

.cadre-contact {
    display: flex;
    align-items: center; 
}

#img-contact {
    position: relative;
    top: -88px;
    left: -20px;
    width: 400px;
    height: 840px;
}

.formulaire-contact {
    position: relative;
    top:   -80px;
    width: 100%; 
}

.formulaire-contact input{
    width: 300px;
    height: 40px;
}

.formulaire-contact input[type="submit"] {
    background-color: #FFD700;
    color: white;
    padding: 10px 15px;
    border-radius: 0.5px;
    cursor: pointer;
    width: 308px;
}

.formulaire-contact input[type="submit"]:hover {
    background-color: #DAA520;
}

/*************************************************************************************************************************************************************************/

.faq h1 {
    position: relative;
    top: -65px;
    right: -20px;
    text-align: center;
}

.faq {
    position: absolute;
    top: 220px;
    right: 40px;
    width: 30%; 
}

.view button {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
    width: 100%;
    background-color: #333;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view button:hover {
    background-color: #FFD700;
    color: #333;
}

.view p {
    display: none;
    padding: 10px;
    background-color: #EEE;
    border-radius: 5px;
}

.view button,
.view p {
    transition: background-color 0.3s, color 0.3s;
}

.view li {
    list-style-type: none;
}		 

/**************************************************************************************************************************************************************************/
