
/* Styles de base */
html,
body,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    background-color: #f7e0d5;
}

body{
    margin: 0;
    color: #42302e;
}

/* Section header et menu supérieur */

main{
    display: flex;
    flex-direction: column;
}

main > header {
    display: flex;
    flex-direction: column;
}

header > .top-menu{
    display: flex;
    justify-content: space-between;
}

.top-menu{
    padding: 26px;
    border-bottom: 1px solid #9c6b3b;
}
.logo{
    font-weight: bold;
    font-size: 2.5rem;
}
.input-search{
    display: flex;
}
.input-search > input {
    border: none;
    padding: 8px;
}

.input-search > button{
    display: block;
    padding: 8px;
    margin-left: 4px;
    border: 1px solid #134f10;
    background-color: #134f10;
    color: #ffffff;
    border-radius: 2px;
}

/* Section liens des menus */
.menu-links{
   width: 700px;
   margin-left: auto;
   margin-right: auto;
}
.menu-links > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

ul li > a{
    text-decoration: none;
    color:#15a30d;
    font-weight: bold;
}

ul li > a:hover{
    color:#9c6b3b;
}

/*  Section main */
.main-content {
    border-top: 1px solid #9c6b3b;
}

.article{
    border-bottom: 1px solid #9c6b3b;
}

.article.final{
    border: none;
}

.article > h3 > a{
    color: inherit;
}

h2{
    font-size: 2rem;
    text-align: center;
}

.main-image{
    width: 1000px;
    height: 500px;
    border: 1px solid #42302e;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-radius: 4px;
}

.main-image > img{
    display: block;
    width: 100%;
    height: 100%;
}

p.sujets {
    text-align: center;

}

.logo{
    display: flex;
}

.logo-image{
    width: 50px;
    height: 50px;
}

.logo-image > img{
    display: block;
    width: 100%;
    height:100%;
}

.brand-name{
    display: block;
    margin-left: 20px;
}
