/***********************************************************************   DEBUT PARTIE CSS   ********************************************************************/
html {
    background-color: #E8E8E8;
    font-family: 'Nunito', sans-serif;
    color: #333333;
}

/*************************************************************************************************************************************************************************/

#logo {
    position: relative;
    margin-top: -85px;
    width: 230px;
    height: 230px;
}

/*************************************************************************************************************************************************************************/

#menu {
    position: absolute;
    top: -5px;
    left: 155px;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    padding: 14px 40px;
    margin: 2px;
    font-size: 95%;
    font-weight: 1000;
    text-decoration: none;
    background-color: #333333;
    color: #FFD700;
    border-radius: 5px; /* Ajout d'arrondis pour un aspect plus moderne */
}

#menu a:hover {
    background-color: #FFD700;
    color: #333333;
}

/*************************************************************************************************************************************************************************/

#nav-research {
    position: absolute;
    top: 8px;
    right: 10px;
}

#search-input {
    padding: 15px 1px;
    border: 1px solid #FFD700; /* Ajout d'une bordure pour un meilleur contraste */
    border-radius: 5px; /* Ajout d'arrondis */
}

#search-icon {
    padding: 12px 4px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #FFD700; /* Couleur de l'icône de recherche */
}

/*************************************************************************************************************************************************************************/

#intro {
	background: 			url(../Images/background-text.jpg);
	background-position: 	center center; 
    background-size: 		cover; 
	padding: 				40px;
	margin-bottom: 			10px; /* Ajoute une marge en bas pour l'espace */
	
	width: 92%; 

	position: 			absolute;
	top: 				80px;
	left: 				0.5%;

	font-size: 			200%;
	font-weight: 		800;
	text-align: 		center;
	color: 				#333333;
}

#intro #ma {
	color: 				#E6B201;
}

/*************************************************************************************************************************************************************************/
	
#autobiographie h2 {
	position: 			absolute;
	top: 				50%;
	left: 				20px;

	font-size: 			300%;
	font-weight: 		800;
	margin-bottom: 		10px; 
}

.autobiographie {	
	position: 			absolute;
	top: 				70%;
	height: 			450px;
	width: 				2030px;

	display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.autobiographie td {
    display: inline-block;
    vertical-align: top; 
	margin: 10px
}
 			

.autobiographie img {
	width: 165px; 
    height: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	transition: transform 0.3s;
}

.autobiographie img:hover {
	transform: scale(1.1);
}
 					 				
/*************************************************************************************************************************************************************************/

#amour h2 {
    position: absolute;
    top: 115%;
    left: 20px;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 10px;
}

.amour {
    position: absolute;
    top: 135%;
    height: 450px;
    width: 2030px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.amour td {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.amour img {
	width: 165px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s;
}

.amour img:hover {
    transform: scale(1.1);
}

/*************************************************************************************************************************************************************************/

#aventures h2 {
    position: absolute;
    top: 180%;
    left: 20px;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 10px;
}

.aventures {
    position: absolute;
    top: 200%;
    height: 450px;
    width: 2030px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.aventures td {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.aventures img {
	width: 165px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s;
}

.aventures img:hover {
    transform: scale(1.1);
}

/*************************************************************************************************************************************************************************/

#jeunesse h2 {
    position: absolute;
    top: 245%;
    left: 20px;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 10px;
}

.jeunesse {
    position: absolute;
    top: 265%;
    height: 450px;
    width: 2030px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.jeunesse td {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.jeunesse img {
	width: 165px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s;
}

.jeunesse img:hover {
    transform: scale(1.1);
}

/*************************************************************************************************************************************************************************/

#fantasy h2 {
    position: absolute;
    top: 310%;
    left: 20px;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 10px;
}

.fantasy {
    position: absolute;
    top: 330%;
    height: 450px;
    width: 2030px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fantasy td {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.fantasy img {
	width: 165px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s;
}

.fantasy img:hover {
    transform: scale(1.1);
}

/*************************************************************************************************************************************************************************/

#philosophique h2 {
    position: absolute;
    top: 375%;
    left: 20px;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 10px;
}

.philosophique {
    position: absolute;
    top: 395%;
    height: 450px;
    width: 2030px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.philosophique td {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.philosophique img {
	width: 165px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s;
}

.philosophique img:hover {
    transform: scale(1.1);
}

/*************************************************************************************************************************************************************************/

#sciences-fictions h2 {
    position: absolute;
    top: 440%;
    left: 20px;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 10px;
}

.sciences-fictions {
    position: absolute;
    top: 460%;
    height: 450px;
    width: 2030px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sciences-fictions td {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.sciences-fictions img {
	width: 165px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s;
}

.sciences-fictions img:hover {
    transform: scale(1.1);
}

/*************************************************************************************************************************************************************************/

.Contact {
	background: 			url(../Images/background-text.jpg);
	background-position: 	center center; 
	background-size: 		cover; 
	padding: 				40px;
	
	width: 92%; 

	position: 			absolute;
	top: 				515%;
	left: 				0.5%;

	font-size: 			200%;
	font-weight: 		800;
	text-align: 		center;
	color: 				#333333;
} 

/**************************************************************************************************************************************************************************/

.Contact a {
	color: 				#E6B201;
}
	
/****************************************************************************     FIN PARTIE CSS     *********************************************************************/
